<div class="card shadow-sm border-0 min-vh-100 ml-3">
  <div class="card-body p-0 ml-3">
    <div class="list-group list-group-flush">
      <a href="/userProfile" class="list-group-item list-group-item-action">Account Information</a>
      <a href="/address" class="list-group-item list-group-item-action">Address</a>
      <a href="/orders" class="list-group-item list-group-item-action">My Orders</a>
      <a href="/wishlist" class="list-group-item list-group-item-action">Wishlist</a>
      <a href="/wallet" class="list-group-item list-group-item-action">Wallet</a>
      <!-- <a href="/coupons" class="list-group-item list-group-item-action">My Coupons</a> -->
      <a href="/referAndEarn" class="list-group-item list-group-item-action">Refer & Earn</a>
      <a href="/logout" class="list-group-item list-group-item-action text-danger">Logout</a>
    </div>
  </div>
</div>
