<%- include('../../views/partials/admin/header') %>
<style>
    container {
       flex-grow: 1;
    }
</style>
<div class="container">
    <p><%= user.name %></p>
</div>


<%- include('../../views/partials/admin/footer') %>