:root {
      --grock-green: #A5CBB7;
    }
html, body {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
}

.container {
    height: 540px;
    width: 650px;
    border-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}
.imageContainer, .formSection {
    width: 50%;
    padding: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    background-color:var(--grock-green);
    color: white;
    text-align: center;
}
.imageContainer img {
    max-width: 690px;
    max-height: 370px;
    margin-bottom: 20px;
}
.formSection h1 {
    font-weight: bold;
    color: black;
}
.formSection p:not(.error-message) {
    color: var(--grock-green);
    font-weight: 600;
    margin-bottom: 10px;
}
form {
    width: 100%;
}
label {
    color: var(--grock-green);
    font-weight: 600;
}
input {
    padding: 4px 9px;
    border-radius: 10px;
    border: 1px solid rgb(157, 156, 156);
    font-size: 14px;
    width: 100%;
    color: rgb(148, 142, 142);
    margin-bottom: 10px;
}
input:focus {
      outline: none;
      border-color: var(--grock-green);
      box-shadow: 0 0 5px var(--grock-green);
}
.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 8px;
}
.login-btn {
    width: 100%;
    color: white;
    background-color: black;
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
}
.divider {
    color: var(--grock-green);
    font-size: 14px;
    margin: 10px;
    font-weight: 600;
}
.googleBtn{
    width: 100%;
    color: black;
    background-color: white;
    border: 1px solid rgb(157, 156, 156);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 10px;
}
.googleBtn img {
    width: 15px;
}
.signup-link {
    margin-top: 15px;
    font-weight: 600;
    text-align: center;
}
.signup-link a {
    text-decoration: none;
    color: var(--grock-green);
}
.signup-link a:hover{
    text-decoration: underline;
}
    @media (max-width: 768px) {
      .container-custom {
        flex-direction: column;
        width: 90%;
        height: auto;
      }

      .illustration, .form-section {
        width: 100%;
        padding: 20px;
      }
    }