<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YARA</title>
    <link rel="stylesheet" href="/css/resetpass.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<style>
    label {
        font-size: 12;
        margin-bottom: 2px;
    }
    input {
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 25px;
    }
</style>
<body>
    <div class="container">
        <div class="imageContainer">
            <img src="/images/login.png" alt="girl shopping">
            <p>Fashion You'll Love, Prices You'll Adore.</p>
        </div>
        <div class="formSection">
            <h1>YARA</h1>
            <p class="mb-4">Welcome</p>
            <form id="resetForm" action="/reset-password" method="POST">
                <div>
                   <label for="password">New Password</label>
                   <input type="password" name="password" id="password" placeholder="New password">
                   <div id="error1" class="error-message"></div>
                </div>

                <div>
                    <label for="cPassword">Confirm Password</label>
                    <input type="password" name="cPassword" id="cPassword" placeholder="Confirm Password">
                    <div id="error2" class="error-message"></div>
                </div>
                <%if(locals.message && message.length > 0){%>
                    <div class="alert alert-danger text-center">
                            <%=message%>
                    </div>
                <%}%>
                <button type="submit" class="login-btn">Reset Password</button>
            </form>

            <div class="signup-link">
               Don't have an account? <a href="/signup">Sign Up</a> <br>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', ()=>{
            let resetForm = document.getElementById('resetForm')
            let password = document.getElementById('password')
            let confirmPassword = document.getElementById('cPassword')
            const error1 = document.getElementById('error1')
            const error2 = document.getElementById('error2')

            loginForm.addEventListener('submit', function(e){
                let valid = true
                const pass = passwor.value;
                const confirm = confirmPassword.value;
                const pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
                if (!pattern.test(pass)) {
                    error4.textContent = "Password must be 8+ chars with upper, lower, number, special char.";
                    valid = false
                }
                error1.textContent = "";

                if (pass !== confirm) {
                   error2.textContent = "Passwords do not match.";
                   valid = false
                }
                error2.textContent = "";
                if(!password.value.trim()){
                    error2.innerHTML = "Please enter your password"
                    valid = false
                }
                if(!valid){
                   e.preventDefault()
                }
                
            })
        })

    </script>
</body>
</html>